.form{
    
  margin-top:25px;
  align-items: center;
   color: #FFFFFF;
opacity: 1;
display: flex;
flex-direction: column;
}
::placeholder {
  opacity:0.5; 
  padding-left: 9px;
}
.login{
border: 2px solid var(--unnamed-color-307fe2);
border: 2px solid #307FE2;
border-radius: 12px;
opacity: 1;
font: normal normal normal 17px/27px Lato;
letter-spacing: 0.77px;
opacity:1;
width:60%;
height: 36px;

}

#inputdefault {
    margin-bottom:13px;
    
    
  }
  #inputdefault-two {
    margin-bottom:13px;
    
    
  }
  .box-m{
    width: 112px;
height: 43px;

  }
  .error{
    text-align: center;
    color:red;
    height:10px;
    display: block;
  
  }

  
